@import 'styles/fonts';
@import 'styles/colors';
@import 'styles/shared';
.banner {
    width: auto;
    height: 300px;
    background: url('/images/banner.jpg');
    display: flex;
    padding: 0rem 2rem;
    .bannerInnerContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        .bannerInnerContainer__header {
            @extend %fadeInUp;
            font-family: $font-family;
            color: $web-black;
            font-weight: $header-font-weight;
            .bannerInnerContainer__header__name{
                color: $web-red;
            }
        }
        .bannerInnerContainer__text{
            @extend %fadeInUp;
            font-family: $font-family;
            color: $web-black;
        }
    }
}