.App {
    margin: 0;
    padding: 0;
    .Bac_Wrapper{
        height: 80vh;
        background: url('/images/Bac.png');
        .B_Wrapper{
            text-align: center;
            margin: auto;
            padding-top: 15rem;
            h1{
                color: white;
            }
            .Hire__Button{
                background: #D6BE03;
                color: white;
            }
        }
    }
    .TextSection{
        h4{
            text-align: center;
            font-weight: bold;
        }
        p{
            text-align: center;
        }
    }
    
}